.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  overflow-x: hidden;
}

.content-container {
  flex: 1;
  width: 100%;
  margin: 0; /* Remove any margin */
  padding: 0; /* Ensure no padding is added */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}